<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>C:\Program Files (x86)\Lua\5.1\lua.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>D:\GitHubSource\tolua\Assets\ToLua\Lua</StartWorkingDirectory>
  </propertyGroup>
</Project>